'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'TreeColor'
      'submenu': [
        {
          'label': 'Uncolor Folders'
          'command': 'treecolor:uncolor-folder'
        }
      ]
    ]
  }
]
