'.platform-darwin':
  'shift-cmd-1': 'treecolor:color-folder',
  'shift-cmd-2': 'treecolor:uncolor-folder'

'.platform-win32, .platform-linux':
  'shift-ctrl-1': 'treecolor:color-folder',
  'shift-ctrl-2': 'treecolor:uncolor-folder'
