'.platform-darwin':
  'alt-cmd-1': 'treecolor:color-folder',
  'alt-cmd-2': 'treecolor:uncolor-folder'

'.platform-win32, .platform-linux':
  'alt-ctrl-1': 'treecolor:color-folder',
  'alt-ctrl-2': 'treecolor:uncolor-folder'
